body {
    background-color: rgb(53, 4, 38);
    font-family: tahoma;
    font-size: 20px;
    
}
div {
    width: 80vw;
    margin: 1em auto;
    max-width: 1200px;
    color: #ffffff;
    background-color: rgb(163, 100, 155);
    padding: 1em;
}
h1, p {
    text-align: center;
    color: #ffffff;
    margin: 1em auto;
}
fieldset {
    margin: 2rem 0;
    border: none;
    border-bottom:  3px solid rgb(168, 137, 255); 
    
}
input, textarea, select {
    width: 100%;
    margin: 0.5rem 0;
}
.inlin {
    width: unset;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}
label {
    display: block;
    color: aliceblue;
}
a {
    color: #ffffff;
}
button {
    width: 70%;
    background-color: sandybrown;
    color: black;
    margin: 1em auto 1rem auto;
    border: #ffffff;
    padding: 10px;
    display: block;
    font-size: 2em;
}
fieldset:last-of-type {
    border-bottom: none;
}
textarea {
    height: 6rem;
    font-size: 1rem;
}
form, footer {
    color: aliceblue;
}
.loper {
    padding: 3px;

}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    margin: 5px auto;
}